doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title= 'Snowdown Match History'
        meta(name='description' content='A list of all the Snowdown matches played.')
        meta(name='author' content='Null_Cat')
        
        link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Pacifico' type='text/css')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
        link(rel='stylesheet' href='/css/index.css' type='text/css')
    body
        div(class='page-header')
            h1= 'Snowdown Match History'
            p= 'This is a list of all the matches that have been played.'
        div(class='table-responsive', style='overflow-x:auto; width:99%; margin:auto;')
            table(class='table')
                thead
                    tr
                        th= 'MatchID'
                        th= 'P1 User'
                        th= 'P2 User'
                        th= 'P1 HeadShots'
                        th= 'P2 HeadShots'
                        th= 'P1 Hits'
                        th= 'P2 Hits'
                        th= 'P1 FinalScore'
                        th= 'P2 FinalScore'
                        th= 'MatchTime'
                        th= 'Winner'
                        th= 'MatchLog'
                        th= 'IP'
                        th= 'CMPUser'
                tbody
                    each match in matches
                        tr
                            td= match.MatchID
                            td= match.Player1User
                            td= match.Player2User
                            td= match.Player1HeadShotCount
                            td= match.Player2HeadShotCount
                            td= match.Player1HitCount
                            td= match.Player2HitCount
                            td= match.Player1FinalScore
                            td= match.Player2FinalScore
                            td= new Date((match.EndTime - match.StartTime)).toUTCString().match(/(\d\d:\d\d:\d\d)/)[0]
                            td= match.MatchResult
                            td= match.MatchLog
                            td= match.IPAddress
                            td= match.CMPUser
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')