doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Pacifico' type='text/css')
        link(rel='stylesheet' href='/css/index.css' type='text/css')
        title= 'Snowdown Match History'
    body
        h1= 'Snowdown Match History'
        p= 'This is a list of all the matches that have been played.' 
        div(class='match-list', style="overflow-x:auto;")
            table
                thead
                    tr
                        th= 'MatchID'
                        th= 'P1 User'
                        th= 'P2 User'
                        th= 'P1 HeadShots'
                        th= 'P2 HeadShots'
                        th= 'P1 Hits'
                        th= 'P2 Hits'
                        th= 'P1 FinalScore'
                        th= 'P2 FinalScore'
                        th= 'MatchTime'
                        th= 'Winner'
                        th= 'MatchLog'
                        th= 'IP'
                        th= 'CMPUser'
                tbody
                    each match in matches
                        tr
                            td= match.MatchID
                            td= match.Player1User
                            td= match.Player2User
                            td= match.Player1HeadShotCount
                            td= match.Player2HeadShotCount
                            td= match.Player1HitCount
                            td= match.Player2HitCount
                            td= match.Player1FinalScore
                            td= match.Player2FinalScore
                            td= new Date((match.EndTime - match.StartTime)).toUTCString().match(/(\d\d:\d\d:\d\d)/)[0]
                            td= match.MatchResult
                            td= match.MatchLog
                            td= match.IPAddress
                            td= match.CMPUser
